@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6;
}

:root {
  --header-color: #191f7d;
  --light-header-color: #e8e9f2;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* для Chrome, Safari та Opera */
}
.no-scrollbar {
  -ms-overflow-style: none; /* для IE та Edge */
  scrollbar-width: none; /* для Firefox */
}
